/*    Navbar   */

nav {
    position: relative;
    width: 100%;
    border-bottom: 2px var(--border-gray) solid;
    background-color: #fff;
    z-index: 3;
}

nav>.container {
    display: flex;
    padding: 5px 60px;
    align-items: center;
    justify-content: space-between;
    gap: 0 15px;
    background-color: #fff;
}

nav .container .nav-head {
    display: flex;
    gap: 0 60px;
}

nav .nav-head .logo {
    line-height: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

nav .nav-head h1 {
    font-size: 30px;
    font-weight: 800;
}

nav .nav-head span {
    font-size: 25px;
    font-weight: 800;
    color: var(--primary);
}

nav .nav-head .nav-form {
    padding: 15px 0;
    position: relative;
    max-width: 300px;
}

nav .nav-head .nav-form input {
    min-width: 100%;
    padding: 12px 15px;
    position: relative;
    font-size: 18px;
    border-radius: 14px;
    background-color: var(--border-gray);
    outline: none;
    border: none;
    font-family: 'Nunito', sans-serif;
}

nav .nav-body {
    display: flex;
    gap: 0 30px;
}

nav .container .nav-links {
    display: flex;
    align-items: center;
    gap: 0 30px;
    position: relative;
}

nav .nav-links div {
    display: flex;
    height: 100%;
    gap: 0 20px;
    align-items: center;
    position: relative;
}

nav .nav-links div:nth-child(1) {
    padding: 0 25px 0 0;
    border-right: 2px solid var(--border-gray);
}

nav .nav-user-form {
    display: flex;
    gap: 0 8px;
    align-items: center;
}

nav .nav-user-form .nav-orders {
    padding: 10px 13px;
    border-radius: 15px;
    background-color: var(--primary-light);
}

nav .nav-user-form .lord-icon {
    width: 30px;
    height: 30px;
}

nav .nav-user {
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 15px;
    outline: 2px solid var(--border-gray);
    outline-offset: 3px;
    cursor: pointer;
}

nav .nav-user img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

nav .container a {
    font-size: 20px;
    font-weight: 700;
    color: black;
}

nav .nav-body-menu {
    display: none;
    gap: 0 8px;
    align-items: center;
}

nav .nav-wrapper {
    display: none;
}

/*      Navbar     */


/*      Section    */
section {
    position: relative;
}

section>:nth-child(2) {
    padding: 0px 60px !important;
}

section>.container {
    position: relative;
    padding: 20px 60px 8px 60px;
}

section .suggested-deals {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 49.3% auto;
    gap: 0 15px;
}

section .suggested-details {
    position: relative;
    display: grid;
    grid-template-rows: auto;
    gap: 5px 0;
}

section .food-content {
    position: relative;
    border-radius: 18px;
    background-color: var(--primary-light);
    height: 100%;
    width: 100%;
    color: black;
}

section .food-content .card {
    position: relative;
    display: grid;
    grid-template-columns: 55% 45%;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    padding: 0 20px;
    overflow: hidden;
}

section .food-content .card-body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 15px 0 15px 30px;
    font-size: 18px;
}

section .card .card-body span {
    font-weight: 400;
    color: var(--neutral-gray);
}

section .card .card-body b span {
    font-size: 24px;
    font-weight: 500;
}

section .card .card-body b h1 {
    font-size: 48px;
    font-weight: 800;
    color: var(--primary);
}

section .food-content .card-img {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}

section .food-content .card img {
    top: 30px;
    right: 0;
    position: relative;
    width: 100%;
}

section .fastfood-content {
    position: relative;
}

section .category-deals {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    gap: 0 10px;
}

section .category-deals .deliver-food {
    width: 25%;
    height: 100%;
    background-color: #fff;
    border-radius: 12px;
    border: 2px solid var(--border-gray);
    display: flex;
    font-weight: 600;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: none;
    transition: all 0.2s;
}

section .deliver-food:hover {
    transition: all 0.2s;
    color: var(--primary);
    border: 1.5px solid var(--primary);
    background-color: var(--primary-light);
}

section .deliver-food.active {
    transition: none;
    border: 2px solid var(--primary);
    background-color: var(--primary-light);
}

section .deliver-food lord-icon {
    width: 50px;
    height: 50px;
}

section .food-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    position: relative;
}

section .food-wrapper .food-items {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    gap: 10px 0;
    position: relative;
}

section .food-items .card {
    border-radius: 18px;
    overflow: hidden;
    color: black;
    position: relative;
    border: 1px solid var(--border-gray);
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    display: grid;
    grid-template-rows: 180px auto;
}

section .food-items .card-body {
    padding: 5px 14px;
    position: relative;
}

section .food-items .card-body i {
    font-size: 5px;
    color: var(--primary);
}

section .food-items .card-body .fa-clock-o {
    font-size: 18px;
    color: var(--light-icon-gray);
}

section .food-items .card-body .card-info {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

section .food-items .card-body .card-time-info {
    display: flex;
    align-items: center;
    gap: 5px;
}

section .food-items .card-time-info p {
    color: var(--neutral-gray);
}

section .food-items .card .card-img {
    position: relative;
    width: 100%;
    height: 100%;
}

section .food-items .card .card-img.active::after {
    content: 'Featured';
    width: 100px;
    position: absolute;
    background-color: var(--primary);
    top: 0;
    right: 0;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    border-radius: 0 0 0 18px;
    color: #fff;
    padding: 10px 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

section .food-items .card .card-img img {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    object-position: center;
}

section .food-items .card-category {
    display: flex;
    gap: 8px;
    padding: 5px 0;
    max-width: 100%;
    overflow: auto;
}

section .food-items .card-category span {
    padding: 5px 8px;
    background-color: var(--border-gray);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    text-transform: capitalize;
}

section .food-items .card-category span:hover {
    background-color: var(--light-icon-gray);
}

section .food-items .card-category img {
    width: 20px;
}

section .food-wrapper .more-foods {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

section .food-wrapper .more-btn {
    padding: 14px 20px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    background-color: transparent;
    border: 2px solid var(--primary);
    color: var(--primary);
    cursor: pointer;
    transition: all .4s;
}

section .food-wrapper .more-btn:hover {
    transition: all 0.4s;
    color: var(--primary);
    background-color: var(--primary-light);
}

/*      Section    */




/*      Footer    */


/*      Footer    */



/*      responsive        */

@media screen and (max-width:1230px) {
    section .card .card-body b h1 {
        font-size: 40px;
        font-weight: 800;
        color: var(--primary);
    }
}

@media screen and (max-width:1015px) {
    section > .container , .food-wrapper{
        padding: 5px 40px !important;
    }

    section .card .card-body span {
        font-weight: 400;
        color: var(--neutral-gray);
    }

    section .card .card-body b span {
        font-size: 20px;
        font-weight: 500;
    }

    section .card .card-body b h1 {
        font-size: 40px;
        font-weight: 800;
        color: var(--primary);
    }
}

@media screen and (max-width:975px) {
    nav .container .nav-head {
        gap: 0 30px;
    }

    nav .nav-head .nav-form {
        padding: 15px 0;
        position: relative;
        width: 200px;
    }

    nav .nav-head .nav-form input {
        width: 100%;
    }

    section .container {
        padding: 10px 40px !important;
    }

    section .suggested-details {
        position: relative;
        display: grid;
        grid-template-rows: min(300px);
    }

    section .deliver-food lord-icon {
        width: 40px;
    }

    section .food-content {
        position: relative;
        border-radius: 18px;
        background-color: var(--primary-light);
        height: 100%;
        width: 100%;
        color: black;
    }

    section .food-content .card {
        position: relative;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 35% auto;
        grid-auto-flow: column;
        padding: 0 10px;
        height: 100%;
    }

    section .food-content .card-body {
        flex-direction: row;
        padding: 15px 5px;
        order: 1;
    }

    section .food-content .card-img {
        order: 2;
    }

    section .food-content .card img {
        top: 30px;
        right: 0;
        position: relative;
        width: 100%;
        animation: rotating-img 100s infinite linear;
    }

    section .food-wrapper .food-items {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 8px 5px;
        padding: 0 5px;
    }
    section .deliver-food lord-icon {
        width: 34px;
        height: 34px;
    }
}

@media screen and (max-width:905px) {
    nav.active {
        background-color: #fff;
        border-bottom: 0px solid #fff;
    }

    nav>.container {
        display: flex;
        gap: 0 10px;
        padding: 10px 40px;
        position: relative;
    }

    nav .nav-content {
        display: flex;
        align-items: center;
        gap: 0 10px;
        position: relative;
    }

    nav .nav-head .nav-form {
        display: flex;
        padding: 10px 0;
    }

    nav .nav-user-form {
        display: flex;
        gap: 0 15px;
        align-items: center;
        border-right: 2px solid var(--border-gray);
        padding: 0 15px 0 0;
    }

    nav .nav-body {
        display: flex;
    }

    nav .nav-body-menu {
        display: flex;
    }

    nav .nav-body .nav-links {
        display: none;
    }

    nav .nav-menu {
        display: flex;
        padding: 12px 13px;
        border-radius: 15px;
        background-color: var(--primary-light);
    }

    nav .menu-btn {
        position: relative;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        width: 55px;
        height: 58px;
        align-items: center;
        justify-content: center;
    }

    nav .menu-icon-open {
        animation: icon-open-unactive 0.6s 1 forwards;
        position: absolute;
    }

    nav .menu-icon-open.active {
        position: absolute;
        animation: icon-open-active 0.6s 1 forwards;
    }

    nav .menu-icon-close {
        animation: icon-close-active 0.6s 1 forwards;
        position: absolute;
    }

    nav .menu-icon-close.active {
        position: absolute;
        animation: icon-close-unactive 0.6s 1 forwards;
    }

    nav .nav-wrapper {
        display: flex;
        width: calc(100% - 80px);
        padding: 10px 0;
        top: -130px;
        flex-direction: column;
        position: absolute;
        gap: 8px 0;
        text-align: center;
        z-index: -1;
        background-color: #fff;
    }

    nav .nav-wrapper.active {
        top: 80px;
        border-bottom: 2px var(--border-gray) solid;
        background-color: #fff;
        z-index: -1;
    }

    nav .nav-wrapper-menu {
        position: relative;
        width: 100%;
    }

    nav .nav-wrapper-menu a {
        display: inline-block;
        font-size: 24px;
    }

    nav .nav-menu-form input {
        display: none;
    }
}

@media screen and (max-width:750px) {
    nav .nav-wrapper.active {
        padding: 5px 0 10px 0;
        top: 80px;
        border-bottom: 2px var(--border-gray) solid;
        background-color: #fff;
        z-index: -1;
    }

    nav .menu-icon-open {
        animation: icon-open-unactive 0.6s 1 forwards;
        position: absolute;
    }

    nav .menu-icon-open.active {
        position: absolute;
        animation: icon-open-active 0.6s 1 forwards;
    }

    nav .menu-icon-close {
        animation: icon-close-active 0.6s 1 forwards;
        position: absolute;
    }

    nav .menu-icon-close.active {
        position: absolute;
        animation: icon-close-unactive 0.6s 1 forwards;
    }

    nav .nav-wrapper-menu a {
        font-size: 22px;
    }

    nav .nav-head .nav-form {
        display: none;
    }

    nav .menu-btn {
        position: relative;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        width: 55px;
        height: 58px;
        align-items: center;
        justify-content: center;
    }

    nav .nav-menu-form {
        display: flex;
        justify-content: center;
    }

    nav .nav-menu-form input {
        display: block;
        position: relative;
        width: 50%;
        padding: 12px 15px;
        position: relative;
        font-size: 18px;
        border-radius: 14px;
        background-color: var(--border-gray);
        outline: none;
        border: none;
        font-family: 'Nunito', sans-serif;
    }

    section .food-items .card-body {
        padding: 5px 14px;
        font-size: 16px;
        position: relative;
    }
}

@media screen and (max-width:700px) {
    section .food-wrapper .food-items {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        gap: 10px 0;
        position: relative;
    }

    section .card .card-body span {
        font-weight: 400;
        color: var(--neutral-gray);
    }

    section .card .card-body b span {
        font-size: 18px;
        font-weight: 500;
    }

    section .card .card-body b h1 {
        font-size: 34px;
        font-weight: 800;
        color: var(--primary);
    }

    section .category-deals .deliver-food {
        width: 30%;
        height: 100%;
        background-color: #fff;
        border-radius: 12px;
        border: 2px solid var(--border-gray);
        display: flex;
        font-weight: 600;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    section .deliver-food lord-icon {
        width: 34px;
        height: 34px;
    }
}

@media screen and (max-width:550px) {
    section .suggested-deals {
        position: relative;
        width: 100%;
        display: grid;
        grid-template-columns: none;
        grid-template-rows:50% 50%;
        gap: 0 15px;
    }
}

@keyframes icon-open-active {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(0, -50px);
    }
}

@keyframes icon-open-unactive {
    from {
        transform: translate(0%, -50px);
    }

    to {
        transform: translate(0, 0);
    }
}

@keyframes icon-close-active {
    from {
        transform: translate(0, 50px);
    }

    to {
        transform: translate(0, 0px);
    }
}

@keyframes icon-close-unactive {
    from {
        transform: translate(0%, 0px);
    }

    to {
        transform: translate(0, 50px);
    }
}

@keyframes rotating-img {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}