nav {
    position: relative;
    width: 100%;
    border-bottom: 2px var(--border-gray) solid;
    background-color: #fff;
}
nav.active{
    background-color: #fff;
    border-bottom:0px solid #fff;
}
nav > .container {
    display: flex;
    padding: 5px 60px;
    align-items: center;
    justify-content: space-between;
    gap: 0 15px;
}

nav .container .nav-head {
    display: flex;
    gap: 0 60px;
}

nav .nav-head .logo {
    line-height: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

nav .nav-head h1 {
    font-size: 30px;
    font-weight: 800;
}

nav .nav-head span {
    font-size: 25px;
    font-weight: 800;
    color: var(--primary);
}

nav .nav-head .nav-form {
    padding: 15px 0;
    position: relative;
    max-width: 300px;
}

nav .nav-head .nav-form input {
    min-width: 100%;
    padding: 12px 15px;
    position: relative;
    font-size: 18px;
    border-radius: 14px;
    background-color: var(--border-gray);
    outline: none;
    border: none;
    font-family: 'Nunito', sans-serif;
}

nav .nav-body {
    display: flex;
    gap: 0 30px;
}

nav .container .nav-links {
    display: flex;
    align-items: center;
    gap: 0 30px;
    position: relative;
}

nav .nav-links div {
    display: flex;
    height: 100%;
    gap: 0 20px;
    align-items: center;
    position: relative;
}

nav .nav-links div:nth-child(1) {
    padding: 0 25px 0 0;
    border-right: 2px solid var(--border-gray);
}

nav .nav-user-form {
    display: flex;
    gap: 0 8px;
    align-items: center;
}

nav .nav-user-form .nav-orders {
    padding: 10px 13px;
    border-radius: 15px;
    background-color: var(--primary-light);
}

nav .nav-user-form .lord-icon {
    width: 30px;
    height: 30px;
}

nav .nav-user {
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 15px;
    outline: 2px solid var(--border-gray);
    outline-offset: 3px;
    cursor: pointer;
}

nav .nav-user img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

nav .container a {
    font-size: 20px;
    font-weight: 700;
    color: black;
}

nav .nav-body-menu {
    display: none;
    gap: 0 8px;
    align-items: center;
}
nav .nav-wrapper{
    display: none;
}

@media screen and (max-width:1015px) {
    nav>.container {
        padding: 5px 40px;
    }
}

@media screen and (max-width:975px) {
    nav .container .nav-head {
        gap: 0 30px;
    }

    nav .nav-head .nav-form {
        padding: 15px 0;
        position: relative;
        width: 200px;
    }

    nav .nav-head .nav-form input {
        width: 100%;
    }
}

@media screen and (max-width:905px) {
    nav>.container {
        display: flex;
        gap: 0 10px;
        padding: 10px 40px;
        position: relative;
    }
    nav .nav-content {
        display: flex;
        align-items: center;
        gap: 0 10px;
        position: relative;
    }
    nav .nav-head .nav-form {
        display: flex;
        padding: 10px 0;
    }
    nav .nav-user-form {
        display: flex;
        gap: 0 15px;
        align-items: center;
        border-right: 2px solid var(--border-gray);
        padding: 0 15px 0 0;
    }
    nav .nav-body{
        display: flex;  
    }
    nav .nav-body-menu {
        display: flex;
    }
    nav .nav-body .nav-links {
        display: none;
    }
    nav .nav-menu {
        display: flex;
        padding: 12px 13px;
        border-radius: 15px;
        background-color: var(--primary-light);
    }
    nav .nav-wrapper{
        display: flex;
        width: calc(100% - 80px);
        padding: 10px 0;
        top: -130px;
        flex-direction: column; 
        position: absolute;
        gap: 8px 0;
        text-align: center;
        transition: all 0.6s;
        z-index: -1;
        background-color: #fff;
        transition: border transform 10s;
    }
    nav .nav-wrapper.active{
        top: 90px;
        border-bottom: 2px var(--border-gray) solid;
        background-color: #fff;
        z-index: -1;
    }
    nav .nav-wrapper-menu{
        position: relative;
        width: 100%;
    }
    nav .nav-wrapper-menu a{
        display: inline-block;
        font-size: 26px;
    }
    nav .nav-menu-form input{
        display: none;
    }
}
@media screen and (max-width:750px) {
    nav .nav-head .nav-form {
        display: none;
    }
    nav .nav-menu-form{
        display: flex;
        justify-content: center;
    }
    nav .nav-menu-form input{
        display: block;
        position: relative;
        width: 70%;
        padding: 12px 15px;
        position: relative;
        font-size: 18px;
        border-radius: 14px;
        background-color: var(--border-gray);
        outline: none;
        border: none;
        font-family: 'Nunito', sans-serif;
    }
}