*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*             Navbar             */

/*             Navbar             */



/*             Section             */

/*             Section             */



/*             Footer             */

/*             Footer             */