*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary: #4E60FF;
}

/*             Navbar             */

/*             Navbar             */



/*             Section             */

/*             Section             */



/*             Footer             */

/*             Footer             */